nav ul li {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

}

nav ul li::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 2px;
    background-color: var(--sky);
    left: -100%;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

#mobile-menu .active{
     border:2px solid var(--sky);
        padding:4px;
        border-radius:10px;
        background-color: var(--sky);
        color: var(--light);
} 
nav ul li:hover::after {
    left: 0;
    transition: all 0.3s ease-in-out;


}



.active {
    font-weight: bold;
    color: var(--sky);
    position: relative;
    overflow: hidden;
}


.active::after {
    left: 0;
}