@import "tailwindcss";

:root {
    --darkblue: #161D23;
    
    --light: #FFFFFF;
    --sky: #00C9FF;

}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
  overflow-x: hidden;
  overflow-y: scroll;
    font-style: normal;
}