@import "tailwindcss";

:root {
    --darkblue: #161D23;
    
    --light: #FFFFFF;
    --sky: #00C9FF;

}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
  overflow-x: hidden;
  overflow-y: scroll;
    font-style: normal;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0);

    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
        transform: scale(1.1);

    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}
 @keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateX(-50px);

    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
} 
    @keyframes faderight {
        from {
            opacity: 0;
            transform: translateX(50px);
    
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }